body{
    background-image:url("images/background.jpg");
        
}
h1{
    
    color:beige;        
    font-family: 'Courier New', Courier, monospace;        
    text-align: center;
    
}
#score{
    text-align: center;;
    font-size: 30px;
    color: beige;
}
#reset{
    background-color: black;
    font-size: 30px;    
    color: beige;
    position: absolute;
    bottom: 10px;
    left:45%;
}
